@model RecipeListViewModel

@{
    Layout = "_MyWebLayout";
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Title</h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @foreach (Recipe rf in Model.MyRecipes)
        {
            if (User.Identity.IsAuthenticated)
            {
                <form class="row text-center" asp-action="DeleteRecipe" method="post">
                    <input type="hidden" name="RecipeId" value="@rf.RecipeId" />
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-3">
                        <a asp-action="EditRecipe" asp-route-recipeId="@rf.RecipeId"
                           class="btn btn-warning" style="width:100%;margin-bottom:15px">
                            <i class="fa fa-edit"></i>&nbsp;Edit
                        </a>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-danger" style="width:100%;margin-bottom:15px">
                            <i class="fa fa-ban"></i>&nbsp;Delete
                        </button>
                    </div>
                    <div class="col-md-3">&nbsp;</div>
                </form>
            }

            <table class="table table-bordered">
                <tr><td>Recipe Name:&nbsp;</td><td>@rf.Name</td></tr>
                <tr><td>Ingredients:&nbsp;</td><td>@rf.Ingredients</td></tr>
                <tr><td>Directions:&nbsp;</td><td>@rf.Directions</td></tr>
                <tr><td>Preparation Time:&nbsp;</td><td>@rf.PreparationTime</td></tr>
                <tr><td>Cooking Time:&nbsp;</td><td>@rf.CookingTime</td></tr>
                <tr><td>Ready In:&nbsp;</td><td>@rf.ReadyIn</td></tr>
                <tr><td>Suggestions:&nbsp;</td><td>@rf.Suggestions</td></tr>
                <tr><td style="width:250px">Number of Servings:&nbsp;</td><td>@rf.NumberOfServings</td></tr>
                <tr><td>Number of Calories:&nbsp;</td><td>@rf.NumberOfCalories</td></tr>
            </table>
        }
    </div>
</div>
